body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

@media all and (min-width:600px) {
    .home-page {
        background: url(/Content/Images/BackgroundGallery.jpg) no-repeat center center;
        padding: 15px;
    }
}

a.navbar-brand {
    background: url(/Content/Images/Logos/Insight.png) no-repeat center center;
    display: block;
    width: 160px;
    text-indent: -9999px; /* hides the link text */
}

.jumbotron {
    background-color: transparent;
}

#logos {
    width: 100%;
    height: auto;
    overflow: hidden;
}

#logos img {
    display: inline;
    margin: 0 10px;
}

.wide {
    width: 160em;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(85, 85, 85);
}

.alert {
    margin: 5px;
}

.progress {
    margin-bottom: 0px;
}
