@{
    ViewBag.Title = "What is Insight?";
}
<h2>@ViewBag.Title</h2>
<p>
    Insight is a pilot initiative aimed at predicting and improving cultural organisations’ commercial performance
    by utilising cutting edge Predictive Analytic techniques.
</p>
<p>
    It is funded by the Digital R&amp;D Fund for the Arts, and co-delivered in partnership with Black Radley Ltd, Bath Spa University and Ryan O’Neill Partnership.
</p>


<h2>
    What does Insight do?
</h2>

<p>
    The Predictive Analytics technique has transformed industries such as financial services, retail, highway safety and even American baseball. It enables managers to make evidence-based decisions concerning investment priorities, service development options, and marketing plans.  It does this by revealing the metrics that are most important for delivering performance and those that, whilst appearing to be useful, have little predictive value.
</p>    <p>
    The Insight pilot will bring this sophisticated practice in to the cultural sector. Participating cultural organisations will get the benefits of "Big Data" without the need to develop "Big Data" skills and tools themselves. Given that this model is based on hard evidence for what works in commercial performance improvement, the consequence should be a significant improvement in cultural sector commercial performance – particularly, given the challenges currently facing the sector – in financial performance and organisational resilience.
</p>
<p>
    In effect, each participating cultural organisation will have access to individualised commercial analysis and planning tools.
</p>
<h2>
    Who is Insight for?
</h2>

<p>
    As part of the trial, we are aiming to recruit a variety of venue-based players from the cultural sector, both independent sites and Local Authority sites. Specifically we are looking for:
</p>
<ol>
    <li>

        Museums, including historic sites and houses;
    </li>

    <li>
        This trial is nationwide, encompassing Scotland, Wales, and Northern Ireland.
    </li>
</ol>
<p>
    If you are unsure if your site is suitable, please contact us.
</p>
<p>
    At this time we are not recruiting festivals, theatres, or non-venue-based organisations.
    However, it is our intention to expand the scope of the project in due course, so feel free register your interest by emailing us on the link above.
</p>