@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Black Radley Limited
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:insight@blackradley.com">insight@blackradley.com</a><br />
</address>