@{
    ViewBag.Title = "Insight is Free";
}
<h2>@ViewBag.Title</h2>
<p>
    Insight is free because is it supported by the Digital R&amp;D Fund for the Arts - 
    Nesta, Arts & Humanities Research Council and public funding
    by the National Lottery through Arts Council England.
    For further information please see the <a href="http://issuu.com/blackradley/docs/insight_prospectus_nov_14">prospectus</a>.
</p>
<h3>
    About the Digital R&amp;D Fund for the Arts
</h3>
<p>
    The Digital R&amp;D fund for the Arts is a £7 million fund to support collaboration between organisations with arts projects,
    technology providers, and researchers. It is a partnership between <a href="http://www.artscouncil.org.uk">arts council england</a>,
    <a href="http://www.ahrc.ac.uk">arts and humanities research council</a> and <a href="http://www.nesta.org.uk">nesta</a>.
</p>
<p>
    We want to see projects that use digital technology to enhance audience reach and/or develop new business models for the arts sector.
    With a dedicated researcher or research team as part of the three-way collaboration,
    learning from the project can be captured and disseminated to the wider arts sector.
</p>
<p>
    Every project needs to identify a particular question or problem that can be tested.
    Importantly this question needs to generate knowledge for other arts organisations that they can apply to their own digital strategies.
</p>
<p>
    <img src="/Content/Images/Logos/SupportBig.jpg" />
</p>

