@{
    ViewBag.Title = "Home";
}

<div class="home-page">
    <div class="jumbotron">
        <img src="/Content/Images/Logos/InsightBig.png" alt="The Insight Logo" />
        <h2>Enterprise Support and Benchmarking for Arts and Culture</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>This is Insight</h2>
            @Html.ActionLink("Tell me about Insight?", "About", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-6">
            <h2>Join the Insight Programme</h2>
            @Html.ActionLink("I want to join!", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Insight is Free</h2>
            @Html.ActionLink("Would you like to know why?", "Funding", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-6">
            <h2>What are the Details?</h2>
            <p><a class="btn btn-primary" href="http://issuu.com/blackradley/docs/insight_prospectus_nov_14">See the prospectus</a></p>
        </div>
    </div>
</div>