@using System.Web.Mvc


@helper Checkbox(MvcHtmlString editor, MvcHtmlString label, string help)
{
    <div class="checkbox col-md-3 col-sm-6">
        <label>
            @editor
            @label
            <a href="#" data-toggle="tooltip" data-title="@help">
                <span class="glyphicon glyphicon-info-sign"></span>
            </a>
        </label>
    </div>


}