@using ClassLibrary
@using WebApplication.Helpers
@model ClassLibrary.Site
@{
    ViewBag.Title = "Create a New Site";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Sites/_CreateEdit.cshtml");
    <div class="row">
        <div class="form-group col-md-3">
            <input type="submit" value="Create New Site" class="btn btn-default" />
        </div>
        <div class="form-group col-md-3">
            @Html.ActionLink("Back to Sites List", "Index")
        </div>
    </div>
}

