@using DataAccess
@using Localization
@using WebApplication.Helpers
@model DataAccess.Site
@{
    ViewBag.Title = "New Site";
    ViewBag.Link = Html.ActionLink("Back to " + Resources.LabelSitesList, "Index");
}
@Html.Partial("_PageTitlePartial")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Sites/_CreateEdit.cshtml");
    <div class="row">
        <div class="form-group col-md-9">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
}
