@using System.Activities.Expressions
@using Localization
@using WebApplication.Helpers
@model DataAccess.Site
@{
    ViewBag.Title = Model.Name;
    ViewBag.Link = Html.ActionLink("Back to " + Resources.LabelMonthsList, "Index", "Months", new {id = Model.Id}, null);
}
@Html.Partial("_PageTitlePartial")
@Html.Partial("_SiteDetailsPartial", @Model)

<h3>Visitors</h3>
<div id="visitorsChart" style="width: 700px; height: 300px;">
</div> 

<h3>Admissions Income</h3>
<div id="incomeChart" style="width: 700px; height: 300px;">
</div>  

<h3>Retail Spend Per Visitor</h3>
<div id="retailSpendPerVisitorChart" style="width: 700px; height: 300px;">
</div>  

<h3>Refreshment Spend Per Visitor</h3>
<div id="refreshmentSpendPerVisitorChart" style="width: 700px; height: 300px;">
</div> 

@section scripts
{
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>  
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
    </script>  
    <script type="text/javascript">
        $(function() {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                url: '@Url.Action("ReportData", new {id = Model.Id})',
                data: '{}',
                success: function(siteData) {
                    var months = siteData.Months;
                    makeVisitorsChart(months);
                    makeIncomeChart(months);
                    makeIncomePerVisitorChart(months);
                },
                error: function() {
                    alert("Error loading data! Please try again.");
                }
            });
        });

        function makeVisitorsChart(months) {
            var visitorsChartData = new google.visualization.DataTable();
            visitorsChartData.addColumn('date', 'Month');
            visitorsChartData.addColumn('number', 'Total Visitors');
            visitorsChartData.addColumn('number', 'Projected');
            visitorsChartData.addColumn('number', 'Upper Projected');
            for (var i = 0; i < months.length; i++) {
                visitorsChartData.addRow([new Date(months[i].MonthTime),
                    months[i].VisitorsTotal,
                    months[i].VisitorsTotalModel,
                    months[i].VisitorsTotalModelUpper
                ]);
            }
            // Instantiate and draw our chart, passing in some options
            var incomeChart = new google.visualization.LineChart(document.getElementById('visitorsChart'));
            incomeChart.draw(visitorsChartData,
            {
                width: 700,
                height: 300,
                chartArea: { width: '50%' },
                hAxis: { format: 'MMM-yyyy' },
                vAxis: { title: "Visitor Numbers" }
            });
        }

        function makeIncomeChart(months) {
            // Prepare the data table
            var incomeChartData = new google.visualization.DataTable();
            incomeChartData.addColumn('date', 'Month');
            incomeChartData.addColumn('number', 'Admissions Inome');
            incomeChartData.addColumn('number', 'Projected');
            incomeChartData.addColumn('number', 'Upper Projected');
            for (var i = 0; i < months.length; i++) {
                incomeChartData.addRow([
                    new Date(months[i].MonthTime),
                    months[i].IncomeAdmissions,
                    months[i].IncomeAdmissionsModel,
                    months[i].IncomeAdmissionsModelUpper
                ]);
            }
            // Instantiate and draw our chart, passing in some options
            var incomeChart = new google.visualization.LineChart(document.getElementById('incomeChart'));
            incomeChart.draw(incomeChartData,
            {
                width: 700,
                height: 300,
                chartArea: { width: '50%' },
                hAxis: { format: 'MMM-yyyy' },
                vAxis: { title: "Admissions Income" }
            });
        }

        function makeIncomePerVisitorChart(months) {
            // Prepare the data table
            var incomePerVisitorChartData = new google.visualization.DataTable();
            incomePerVisitorChartData.addColumn('date', 'Month');
            incomePerVisitorChartData.addColumn('number', 'Retail');
            for (var i = 0; i < months.length; i++) {
                incomePerVisitorChartData.addRow([
                    new Date(months[i].MonthTime),
                    round(months[i].IncomeRetail / months[i].VisitorsTotal)
                ]);
            }
            // Instantiate and draw our chart, passing in some options
            var incomePerVisitorChart = new google.visualization.LineChart(document.getElementById('incomePerVisitorChart'));
            incomePerVisitorChart.draw(incomePerVisitorChartData,
            {
                width: 700,
                height: 300,
                chartArea: { width: '50%' },
                hAxis: { format: 'MMM-yyyy' },
                vAxis: { title: "Retail Income Per Visitor" }
            });
        }

        function round(number) {
            return Math.round(number * 100) / 100;
        }


    </script> 
}
