@using Localization
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()
    <li>
        @Html.ActionLink(Resources.LabelSitesList, "Index", "Sites", routeValues: null, htmlAttributes: new { title = "Sites" })
    </li>
}
