@model WebApplication.Models.MailModel
@{
    ViewBag.Title = "Request an Invite";
}

<h2>Request an Invitation</h2>

<fieldset>
    <legend>
        I want to join Insight
    </legend>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <label for="Email">Email: </label>
        @Html.TextBoxFor(m => m.From, new {id = "Email", @class="wide"})
        <input  type="submit" value="Send" id="Join" />
    }
</fieldset>
