@model ClassLibrary.Site

@{
    ViewBag.Title = "Index";
}
<h2>@Html.DisplayFor(model => model.Name)</h2>

@Html.Partial("_Months", @Model.Months)

<p>
    @Html.ActionLink("Create New", "Create")
</p>

