@using Localization
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Data Agreement";
}
<h2>@ViewBag.Title</h2>
<h3>Insight Website</h3>
<p>
    The Insight website is owned and operated by Black Radley Limited (BR).
    The website provides data storage, bench marking and predictive analytics
    for museums and cultural organisations.
</p>
<h3>Data Gathering</h3>
<p>
    BR uses the Insight website to collect a range of data from organisations.
    Data collected includes, but is not limited to, the following:
    <ul>
        <li>Location information</li>
        <li>
            Venue type
        </li>
        <li>
            Contact details (public enquiry numbers and email addresses)
        </li>
        <li>
            Facilities (e.g. café, shop, disabled access)
        </li>
    </ul>
</p>
<h3>Analysis and Publication</h3>
<p>
    By entering data into the platform, the organisation, or individual acting on behalf of that organisation,
    grants BR and it's agents full permission to process and analyse the data in anyway that it sees fit, in any context, in perpetuity.
    BR may publish any statistical summaries of the data that it sees fit.
    We do not disclose your personal data to our subsidiaries or other organisations, without your explicit permission.
    None of the data entered by the organisation will be published at anytime,
    with the exception of the organisation's:
    <ul>
        <li>Name</li>
        <li>Geographical location</li>
    </ul>
</p>
<h3>
    Confidentiality / Security
</h3>
<p>
    We have implemented security policies,
    rules and technical measures to protect the personal data that we have under our control from unauthorised access,
    improper use or disclosure, unauthorised modification and unlawful destruction or accidental loss.
    All our employees and data processors, who have access to, and are associated with the processing of your data,
    are obliged to respect the confidentiality of your data.
    We ensure that your data will not be disclosed to other institutions and authorities except if required by law
    or other regulation or unless we have already sought your consent.
</p>
<h3>Accuracy</h3>
<p>
    The accuracy of data uploaded by organisations is the sole responsibility of that organisation.
    BRC accepts no responsibility for the accuracy of any data inputted by organisation, 
    including by individuals acting on behalf of the organisation.
</p>
<h3>Copyright</h3>
<p>
    It is the sole responsibility of the organisation to ensure that they hold the full copyright to any data entered into the Insight platform.
    This includes the use of all images uploaded to the system.
    By entering the data into the Insight platform,
    the organisation assumes automatic responsibility for any
    copyright dispute arising from data entered by themselves or individuals acting on behalf of that organisation.
</p>
<h3>Data Removal</h3>
<p>
    Ownership of the data remains with the organisation not with BR or any of it's partners.
    The owning organisation can delete it's data at anytime and thereby withdraw from this agreement.
</p>
<h3>
    Automatic Collection of Information
</h3>
<p>
    We do not automatically log personal data nor do we link information automatically logged by other means 
    with personal data about specific individuals.
    Whilst we use cookies to administer our website, 
    we do not use cookies to store personal data 
    nor do we link non-personal information stored in cookies with personal data about specific individuals.
</p>
<h3>
    Privacy Compliance
</h3>
<p>
    Our privacy policy is compliant with the following instruments:
    <ul>
        <li>
            UK Data Protection Act 1998
        </li>
        <li>
            UK Privacy and Electronic Communications
        </li>
    </ul>
</p>

<h3>Agreement Amendment</h3>
<p>
    BR reserves the right to amend these Terms from time to time at our sole discretion.
    If you have registered as a participant in the Insight Project we shall notify you of any material changes to these Terms (and the effective date of such changes) by sending an email to the named contact we hold for your organisation.
</p>

